<a href="https://colab.research.google.com/github/rajnishkumar1906/Deep-Learning/blob/main/TitanicDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [306]:
import pandas as pd
# URL pointing to the raw Titanic CSV file
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

# Load the dataset
data = pd.read_csv(url)

data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [307]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [308]:
data.shape

(891, 12)

In [309]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [310]:
data['Age'].fillna(data['Age'].mean(), inplace=True)

In [311]:
data.drop('Cabin', axis=1, inplace=True)    #Removing this column as it that lasrge no. of missing values

In [312]:
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)    #Replacing missing vaules with first most frequent value

In [313]:
data.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             89
SibSp            7
Parch            7
Ticket         681
Fare           248
Embarked         3
dtype: int64

In [314]:
from sklearn.preprocessing import LabelEncoder

# List of categorical columns to encode
cols_to_encode = ['Sex', 'Embarked', 'Pclass']

# Apply LabelEncoder in one line
data[cols_to_encode] = data[cols_to_encode].apply(lambda col: LabelEncoder().fit_transform(col))

In [315]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,2,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,2
1,2,1,0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,0
2,3,1,2,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,2
3,4,1,0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,2
4,5,0,2,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,2
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,1,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,2
887,888,1,0,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,2
888,889,0,2,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.699118,1,2,W./C. 6607,23.4500,2
889,890,1,0,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,0
890,891,0,2,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,1

In [316]:
data.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)

In [317]:
data.head(10)

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0         0       2    1  22.000000      1      0   7.2500         2
1         1       0    0  38.000000      1      0  71.2833         0
2         1       2    0  26.000000      0      0   7.9250         2
3         1       0    0  35.000000      1      0  53.1000         2
4         0       2    1  35.000000      0      0   8.0500         2
5         0       2    1  29.699118      0      0   8.4583         1
6         0       0    1  54.000000      0      0  51.8625         2
7         0       2    1   2.000000      3      1  21.0750         2
8         1       2    0  27.000000      0      2  11.1333         2
9         1       1    0  14.000000      1      0  30.0708         0

In [318]:
data.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked      int64
dtype: object

In [319]:
# Dividing dataset into features and target

X = data.drop('Survived', axis=1)
y = data['Survived']

In [320]:
# Splitting into training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [321]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(712, 7)
(179, 7)
(712,)
(179,)

In [322]:
# convert numpy to torch tensors
import torch

# Inputs: same
X_train_tensor = torch.tensor(X_train.values, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test.values, dtype=torch.float32)

# ✅ Targets must be float for BCELoss
y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32).view(-1, 1)
y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32).view(-1, 1)

In [323]:
from torch.utils.data import TensorDataset, DataLoader

train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
test_dataset = TensorDataset(X_test_tensor, y_test_tensor)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32)

In [324]:
from torch import nn

class BinaryClassifier(nn.Module):
    def __init__(self, features):
        super().__init__()
        self.network = nn.Sequential(
            nn.Linear(features, 100),
            nn.ReLU(),
            nn.Linear(100, 50),
            nn.ReLU(),
            nn.Linear(50, 1),
            nn.Sigmoid()
        )

    def forward(self, x):
        return self.network(x)

model = BinaryClassifier(X_train_tensor.shape[1])

Defining loss function and optimizer

In [325]:
import torch.optim as optim

criterion = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

Training the loop

In [326]:
batch_size = 32
num_epochs = 100

for epoch in range(num_epochs):
    model.train()
    running_loss = 0.0

    for batch in train_loader:
        inputs, targets = batch

        # Predicted target values
        outputs = model(inputs)

        # Applying loss function
        loss = criterion(outputs, targets)

        # Applying optimizer to set gradient to zero
        optimizer.zero_grad()

        # backpropagation  => Using optimizer update weights and biases of the model
        loss.backward()

        optimizer.step()

        # Showin the value of loss function
        running_loss += loss.item()

    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {running_loss:.4f}")

Epoch 1/100, Loss: 14.7377
Epoch 2/100, Loss: 13.9548
Epoch 3/100, Loss: 14.4388
Epoch 4/100, Loss: 14.1058
Epoch 5/100, Loss: 13.7861
Epoch 6/100, Loss: 13.8485
Epoch 7/100, Loss: 13.6017
Epoch 8/100, Loss: 13.7500
Epoch 9/100, Loss: 13.9343
Epoch 10/100, Loss: 13.2227
Epoch 11/100, Loss: 13.2694
Epoch 12/100, Loss: 12.6259
Epoch 13/100, Loss: 12.8480
Epoch 14/100, Loss: 12.9362
Epoch 15/100, Loss: 12.6346
Epoch 16/100, Loss: 13.0539
Epoch 17/100, Loss: 12.0987
Epoch 18/100, Loss: 11.9937
Epoch 19/100, Loss: 11.7003
Epoch 20/100, Loss: 11.8625
Epoch 21/100, Loss: 12.2350
Epoch 22/100, Loss: 11.6347
Epoch 23/100, Loss: 11.1745
Epoch 24/100, Loss: 11.0636
Epoch 25/100, Loss: 11.5345
Epoch 26/100, Loss: 11.0717
Epoch 27/100, Loss: 11.4348
Epoch 28/100, Loss: 11.3852
Epoch 29/100, Loss: 11.2584
Epoch 30/100, Loss: 10.7314
Epoch 31/100, Loss: 10.4729
Epoch 32/100, Loss: 10.5814
Epoch 33/100, Loss: 10.5409
Epoch 34/100, Loss: 10.1936
Epoch 35/100, Loss: 10.2067
Epoch 36/100, Loss: 10.2635
Epoch 37/100, Loss: 10.4682
Epoch 38/100, Loss: 9.9970
Epoch 39/100, Loss: 9.7556
Epoch 40/100, Loss: 10.4219
Epoch 41/100, Loss: 10.6451
Epoch 42/100, Loss: 9.8332
Epoch 43/100, Loss: 10.3625
Epoch 44/100, Loss: 9.5762
Epoch 45/100, Loss: 10.0026
Epoch 46/100, Loss: 10.0080
Epoch 47/100, Loss: 10.3454
Epoch 48/100, Loss: 11.3073
Epoch 49/100, Loss: 10.1511
Epoch 50/100, Loss: 10.0253
Epoch 51/100, Loss: 10.5037
Epoch 52/100, Loss: 10.2125
Epoch 53/100, Loss: 10.0370
Epoch 54/100, Loss: 9.9621
Epoch 55/100, Loss: 10.3589
Epoch 56/100, Loss: 9.9900
Epoch 57/100, Loss: 9.7208
Epoch 58/100, Loss: 9.8204
Epoch 59/100, Loss: 10.1879
Epoch 60/100, Loss: 9.6887
Epoch 61/100, Loss: 9.7036
Epoch 62/100, Loss: 9.9966
Epoch 63/100, Loss: 9.6318
Epoch 64/100, Loss: 9.5299
Epoch 65/100, Loss: 9.5286
Epoch 66/100, Loss: 9.6024
Epoch 67/100, Loss: 9.9745
Epoch 68/100, Loss: 9.8753
Epoch 69/100, Loss: 9.5983
Epoch 70/100, Loss: 9.4731
Epoch 71/100, Loss: 9.1438
Epoch 72/100, Loss: 9.6937
Epoch 73/100, Loss: 9.7795
Epoch 74/100, Loss: 9.4744
Epoch 75/100, Loss: 10.6530
Epoch 76/100, Loss: 10.8121
Epoch 77/100, Loss: 9.9728
Epoch 78/100, Loss: 9.2823
Epoch 79/100, Loss: 9.8007
Epoch 80/100, Loss: 9.6526
Epoch 81/100, Loss: 9.8397
Epoch 82/100, Loss: 9.6494
Epoch 83/100, Loss: 9.5832
Epoch 84/100, Loss: 9.5082
Epoch 85/100, Loss: 9.1498
Epoch 86/100, Loss: 9.2916
Epoch 87/100, Loss: 9.2465
Epoch 88/100, Loss: 9.5807
Epoch 89/100, Loss: 9.2839
Epoch 90/100, Loss: 10.0400
Epoch 91/100, Loss: 9.5411
Epoch 92/100, Loss: 9.5818
Epoch 93/100, Loss: 9.3722
Epoch 94/100, Loss: 9.1968
Epoch 95/100, Loss: 9.1650
Epoch 96/100, Loss: 9.4005
Epoch 97/100, Loss: 9.4251
Epoch 98/100, Loss: 9.4095
Epoch 99/100, Loss: 9.3086
Epoch 100/100, Loss: 9.2129

Model Evaluation

In [327]:
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Set model to evaluation mode
model.eval()

all_preds = []
all_targets = []

with torch.no_grad():
    for inputs, targets in test_loader:
        outputs = model(inputs)
        preds = (outputs > 0.5).float()  # Threshold sigmoid output
        all_preds.extend(preds.cpu().numpy())
        all_targets.extend(targets.cpu().numpy())

# Convert to numpy arrays
y_pred = np.array(all_preds)
y_true = np.array(all_targets)

# Calculate metrics
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
f1 = f1_score(y_true, y_pred)

print(f"Accuracy:  {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall:    {recall:.4f}")
print(f"F1 Score:  {f1:.4f}")

Accuracy:  0.7654
Precision: 0.7286
Recall:    0.6892
F1 Score:  0.7083